<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= t('shared.errors.header', count: resource.errors.count) %>
      <%= t('errors.messages.not_saved',
             count: resource.errors.count,
             resource: t("activerecord.models.#{resource.class.model_name.i18n_key}").downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
