<h1>Доступные тесты</h1>

<div>
  <% if @tests.any? %>
    <table>
      <thead>
        <tr>
          <th>Название теста</th>
          <th>Уровень</th>
          <th>Количество вопросов</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <%= render @tests %>
      </tbody>
    </table>
  <% else %>
    <p>Нет доступных тестов</p>
  <% end %>
</div> 