<footer>
  <p>&copy; <%= current_year %> | <%= github_url("yyyrk", "the-guru-project") %></p>
  <p>Учебный проект в <a href="https://thinknetica.com" target="_blank">онлайн-школе Thinknetica</a></p>
</footer>
