<footer>
  <p>&copy; <%= current_year %> | <%= github_url("yyyrk", "the-guru-project") %></p>
  <p>Учебный проект в <%= link_to "онлайн-школе Thinknetica", "https://thinknetica.com", target: "_blank" %></p>
</footer>

