<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <p class="mb-1">&copy; <%= current_year %> | <%= github_url("yyyrk", "the-guru-project") %></p>
    <p class="mb-0">Учебный проект в <%= link_to "онлайн-школе Thinknetica", "https://thinknetica.com", target: "_blank" %></p>
  </div>
</footer>
